---
layout: template1
---

<h1><img src="{{ site.baseurl }}{{ site.avatar }}" alt="EPFL Logo" style="width:100px;height:auto;"> Infoscience</h1>
<h2>Metadata Application Profile</h2>

<hr>
<p><b>Descriptive:</b>
{% for field in site.data.order.descriptive %}
  {% assign element = site.data.elements[field] %}
  {% include toc.html %}
{% endfor %}
</p>
<p><b>Administrative:</b>
{% for field in site.data.order.administrative %}
  {% assign element = site.data.elements[field] %}
  {% include toc.html %}
{% endfor %}
</p>
<p><b>Legacy:</b>
  {% for field in site.data.order.legacy %}
  {% assign element = site.data.elements[field] %}
  {% include toc.html %}
  {% endfor %}
</p>
<hr>

<h3>Descriptive Metadata</h3>
<table class="floating-header" cellspacing="0">
{% for field in site.data.order.descriptive %}
  {% assign element = site.data.elements[field] %}
  {% include table.html %}
{% endfor %}
</table>

<h3>Administrative Metadata</h3>
<table class="floating-header" cellspacing="0">
{% for field in site.data.order.administrative %}
  {% assign element = site.data.elements[field] %}
  {% include table.html %}
{% endfor %}
</table>

<h3>Legacy Metadata</h3>
<table class="floating-header" cellspacing="0">
  {% for field in site.data.order.legacy %}
  {% assign element = site.data.elements[field] %}
  {% include table.html %}
  {% endfor %}
</table>

<br>
