<div about="{{ site.url }}#{{ element.name }}" prefix="rdfs: http://www.w3.org/2000/01/rdf-schema#" prefix="owl: http://www.w3.org/2002/07/owl#" typeof="http://www.w3.org/1999/02/22-rdf-syntax-ns#Property">
	<div property="rdfs:label" content="{{ element.label }}"></div>
	<div property="rdfs:comment" content="{{ element.definition }}"></div>
	<div property="owl:sameAs" content="{{ element.source }}"></div>
</div>
<thead>
	<tr>
		<th colspan="2">
			<a class="anchor" name="{{ element.name }}"></a>
			<h4>{{ element.label }}</h4>
		</th>
	</tr>
</thead>
<tr>
	<td><b>Label</b></td>
	<td>{{ element.label }}</td>
</tr>
<tr>
	<td><b>French label</b></td>
	<td>{{ element.label-fr }}</td>
</tr>
{% if element.schema or element.dc-element or element.dc-qualifier %}
<tr>
	<td><b>Element</b></td>
	<td>
		{% if element.schema %}{{ element.schema != null and element.schema != "" }}{% endif %}{% if element.dc-element != null and element.dc-element != "" %}.{{ element.dc-element }}{% endif %}{% if element.dc-qualifier != null and element.dc-qualifier != "" %}.{{ element.dc-qualifier }}{% endif %}
	</td>
</tr>
{% endif %}
<tr>
	<td><b>URI</b></td>
	<td>
		<a href="{{ site.url }}#{{ element.name }}">{{ site.url }}#{{ element.name }}</a>
	</td>
</tr>
{% if element.legacy_marc %}
<tr>
	<td><b>Legacy MARC metadata</b></td>
	<td>
		{{ element.legacy_marc }}
	</td>
</tr>
{% endif %}
<tr>
	<td><b>Definition</b></td>
	<td>{{ element.definition }}</td>
	<!-- <td>{{ element.definition }}<br>
		<a href="{{ site.url }}/guidelines/{{ element.name }}">Input Guidelines</a>
	</td> -->
</tr>
<tr>
	<td><b>Obligation</b></td>
	<td>{% include obligation_label.md %}</td>
</tr>
<tr>
	<td><b>Range</b></td>
	<td>
	{% for r in element.range %}
		{% if r.uri != null and r.uri != "" %}
			<a href="{{ r.uri }}">{{ r.label }}</a>
		{% else %}
			{% if r.values %}
				{{ r.label }}
			{% endif %}
		{% endif %}
				<ul>
				{% for value in r.values %}
					{% if value != null and value != "" %}
						<li>{{ value }}</li>
					{% endif %}
				{% endfor %}
				</ul>
	{% endfor %}
	</td>
</tr>
<tr>
	<td><b>Search indexes</b></td>
	<td>
		{% for r in element.indexes %}
			{% if r.configuration != null and r.configuration != "" %}
				<span><strong>Search configuration: </strong>{{ r.configuration }}</span><br/>
			{% endif %}
			<span><strong>Indexes:</strong></span>
		<ul>
			{% for value in r.indexes %}
				{% if value != null and value != "" %}
					<li>{{ value }}</li>
				{% endif %}
			{% endfor %}
		</ul>
		{% endfor %}
	</td>
</tr>
