/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* For Fixed Nav Bar */
  padding-top: 70px;
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}


/**
 * Navbar
 */
.navbar-default {
  background-color: #ff0000;
  border-color: #ff0000;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}

/**
 * Footer
 */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #E6E6E6;
  border-color: #E6E6E6;
}

.footerBox {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #212121;
}
/**
 * Tables
 */
table,
th,
td {
   border: 2px solid black;
   padding: 10px;
}

th {
  background-color: #e6e6e6;
}

.floating-header thead th {
	position: sticky;
	position: -webkit-sticky;
  top: 50px;
  background-color: #e6e6e6;
	border: 2px solid black;
}

/* Title */
th:nth-child(3):after {
   padding-left: 200px;
   content: '\0010';
}

/* Creator */
th:nth-child(6):after {
   padding-left: 150px;
   content: '\0010';
}

/* Publisher */
th:nth-child(8):after {
   padding-left: 150px;
   content: '\0010';
}

/* Description */
th:nth-child(11):after {
   padding-left: 300px;
   content: '\0010';
}

/* Subject */
th:nth-child(12):after {
   padding-left: 200px;
   content: '\0010';
}

/* Genre */
th:nth-child(15):after {
   padding-left: 150px;
   content: '\0010';
}

/* Collection */
th:nth-child(19):after {
   padding-left: 300px;
   content: '\0010';
}

/* Identifier */
th:nth-child(20):after {
   padding-left: 150px;
   content: '\0010';
}

/* Rights */
th:nth-child(23):after {
   padding-left: 150px;
   content: '\0010';
}

/**
 * Anchor link offset
 */
a.anchor {
    display: block;
    position: relative;
    top: -62px;
    visibility: hidden;
}
